<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% if block("title") is defined %}
                {{ block('title') }}
            {% endif %}
        </title>
        {% if block("stylesheets") is defined %}
            {{ block('stylesheets') }}
        {% endif %}
    </head>
    <body>
    {{ block('body') }}

    {% if block("javascripts") is defined %}
        {{ block('javascripts') }}
    {% endif %}
    </body>
</html>
